body {
    background: hotpink
}

/* .background_video {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;

} */

.contact_us {
        text-decoration-line: underline;
        color: purple;
        width: 100px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 4s;
      }
      
      @keyframes example {
        from {background-color: red;}
        to {background-color: yellow;}
      }
}