body {
    background: hotpink
}

.contact_us {
        text-decoration-line: underline;
        color: purple;
        width: 100px;
        height: 100px;
        background-color: red;
        animation-name: example;
        animation-duration: 4s;
      }
      
      @keyframes example {
        from {background-color: red;}
        to {background-color: yellow;}
      }
}
.smash {
    font-size: 50px;
}

.aim {
    background: yellow;
}
.likeAndSub {
    background: greenyellow
}

.bar {
    margin: 40px;
    width: 400px;
    height: 100px;
    animation: blinking 1s infinite;  
}
      
@-webkit-keyframes blinking {
        0%, 49% {
          background-color: rgb(214, 211, 31);
          border: 3px solid #00dde5;
          border-style: double;
        }
        50%, 100% {
          background-color: #00e5e5;
          border: 3px solid rgb(105, 204, 24);
        }
      }
}

.links {
    font-weight: bolder;
}
